# PHP CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-php/ for more details
#
version: 2
flow:
  jobs:
    - static
    - test
    - debricked
jobs:
  static:
    docker:
      - image: cimg/php:8.0.7
    steps:
      - checkout
      - run: composer install -n --prefer-dist
      - run: composer php-stan

  test:
    docker:
      - image: cimg/php:8.0.7
    steps:
      - checkout
      - run: composer install -n --prefer-dist
      - run: composer test-coverage

  debricked:
    docker:
      # circleci ignores the entrypoint of debricked-scan, so start the scan manually with a step
      - image: debricked/debricked-scan

    working_directory: ~/repo

    # set debricked username and password as DEBRICKED_USERNAME and DEBRICKED_PASSWORD respectively,
    # inside project settings, to avoid storing them in config
    steps:
      - checkout
      - run: bash /circleci.sh
